:root {
    --main-content-color: #2F303A;
    --background-color: #FFFFFF;
    --header-color: #212121;
    --sublogo-color:#000000;
    --header-mail-link-color: #757575;
    --header-tel-link-color: #757575;
    --main-title-color: #FFFFFF;
    --main-btn-color: #FFFFFF;
    --second-btn-color: #212121;
    --second-title-color: #212121;
    --third-title-color: #212121;
    --text-color: #757575;
    --footer-color: #FFFFFF;
    --accent-color:  #2196F3;
    --btn-bacground-color: #2196F3;
    --btn-background-second-color: #F5F4FA;
    --project-gap: 30px;
    --border-color: #EEEEEE;
}

body {
    font-family: "Roboto",
    Tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--background-color);
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


.link
{
    text-decoration: none;
}
.list
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*-------------Header-----------------*/

.header-container {
display: flex;
align-items: center;

}

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-navigation {
display: flex;
align-items:center;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}
.header-list {
    display: flex;
}

.header-sublist {
    margin-left: auto;
    display: flex;
    
}


.header-mail-link
{
font-family: "Roboto",
Tahoma,
sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--header-mail-link-color);
padding-top: 32px;
padding-bottom: 32px;
}

.header-mail-link:hover, :focus {
    color: var(--accent-color);
}
.header-tel-link {
    font-family: "Roboto",
    Tahoma,
    sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-tel-link-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-tel-link:hover,
:focus {
    color: var(--accent-color);
}

.header-logo-link
{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--accent-color);
padding-top: 24px;
padding-bottom: 25px;
margin-right: 93px;
}

.header-sublogo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--sublogo-color);
}

.header-link {
    font-family: "Roboto",
    Tahoma,
    sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-link:hover
{
    color: var(--accent-color);
}

.header-link:focus
 {
    color: var(--accent-color);
}
.header-link.current {
    color: var(--accent-color);
}

/*------------Main-------------------*/

.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--main-content-color);
    background-image: url(../images/hero-bg.jpg) 
}
.main-section-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main-section-button
{
    
    width: 200px;
    height: 50px;
    border: navajowhite;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    
    letter-spacing: 0.06em;
    color: var(--main-btn-color);
    background: #2196F3;
    
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    
}

/*----------Сильные навыки------------*/

.hard-skills-list {
    display: flex;
    align-items: center;
}

.hard-skills-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-title-color);
}

.hard-skills-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
    max-width: 270px;
}
.hard-skills-item:not(:last-child)
{
    margin-right: 30px;
}

/*-----------Activity---------------*/
.activity {
    padding-top: 0;
}

.activity-item:not(:last-child) {
margin-right: 30px;
}
.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
}

.activity-list {
    display: flex;
    align-items: center;
}
/*---------------Our team------------*/
.our-team {
    background-color: var(--btn-background-second-color);
}

.our-team-list {
display: flex;
align-items: center;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin-bottom: 50px;
}
.team-img {
    margin-bottom: 30px;
}

.our-team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
    margin-bottom: 10px;
}

.our-team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 30px;
}

.our-team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: #ECECEC;
    background-color: #FFFFFF;
}
.our-team-item:not(:last-child)
{
    margin-right: 30px;}

/*----------Footer-------------------*/

.footer {
background-color: var(--main-content-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-list {
    margin-top: 20px;
}
.footer-address {
    margin-top: 20px;
}
.footer-logo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    
}
.footer-sublogo-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-color);
}
.footer-link-place {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color);
}

.footer-link-contact {
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-link-contact:hover, :focus {
    color: var(--accent-color);
}

.footer-item:not(:last-child) {
margin-bottom: 9px;
}

/*-------------Porttfolio-----------------*/

.portfolio-list {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-item:not(:last-child)
{
    margin-right: 8px;
}

.portfolio-button {
    border-radius: 4px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--second-btn-color);
    background-color: var(--btn-background-second-color);
}

.portfolio-button:hover {
    background-color: var(--accent-color);
    color: var(--main-btn-color);
}

.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--main-btn-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--project-gap));
    margin-left: calc(-1 * var(--project-gap));
}

.project-item {
    margin-top: var(--project-gap);
    margin-left: var(--project-gap);
    flex-basis: calc(100% / 3 - var(--project-gap));
}

.project-item:nth-child(3n) {
margin-right: 0;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    margin-bottom: 4px;
}
.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.project-card {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.project-img {
display: block;
    max-width: 100%;
    height: auto;
}